.main {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 95vh;
  line-height: 2;
  overflow-x: scroll;
}

.pageHeader {
  min-height: 5vh;
  padding: 10px;
  display: inline-flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header {
  color: gray;
  text-align: left;
}

.header_platform {
  left:-30px;
  width: 1px;
  font-weight: 500;
}
  
.header_TVL, .header_APY, .header_risk, .header_age, .header_TR{
  font-weight: 500;
  width: 40px;
}
  
.header_TVLHistory, .header_APYHistory, .header_type{
  font-weight: 500;
  width: 80px;
 }

.bodyRow:hover {
  background-color:lightblue;
  transition: 1;
  cursor: pointer;
} 

 .bodyRow {
  transition: 0.5s background-color;
} 

 .platformCell {
  display: inline-flex;
} 

.platformLogoParent {
  width: 50px;
  padding-top: 20px;
}

.platformLogoOne  {
  position:absolute;
  z-index: 2;
}

.platformLogoTwo {
  position: relative;
  margin-left: 15px;
  z-index: 3;
}

.platformSubName {
  line-height: 1.2;
  font-weight: 400;
  color: gray;
}

.rowExpansion{
  background-color: blue;
}

.expansionGraph{
  justify-self: flex-end;
}

.expansionData{
  display: grid;
  width: 20vW;
}

.expansionDataRow{
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 20px;
}

.expansionDataCellContainer{
  border: solid 2px transparent;
  border-radius: 10px;
  -webkit-transition: border .35s ease-in-out;
  transition: border .35s ease-in-out;
  width: 150px;
  display: block;
  text-align: center;
}

.expansionDataCellContainer:hover {
  border: 2px solid Blue;
}

.expansionDataTooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-top:-50px;
  opacity:0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.expansionDataCellContainer:hover .expansionDataTooltip {
  visibility: visible;
  opacity:1;
}

.expansionDataCelTitle{
  font-weight: 500;
}

.expansionDataCellValue{
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.expansionDataCellDuration{
  font-weight: 400;
  color:gray;
}

.rowExpansionParagraphGroup{
  display: grid;
  grid-template-columns: auto auto;
}

.rowExpansionParagraph{
  display: inline;
  width: 90%;
  margin: 10px;
  text-overflow: clip;
  white-space:break-spaces;
}

.rowExpansionParagraph p {
  color: gray;
  font-size: 12px;}

.rowExpansionParagraph h1 {
  color: darkslategrey;
  font-size: 15px;
}