.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 500;
  overflow: scroll;
}

.header {
color: gray;
}

.header_platform {
  left:-30px;
  width: 1px;
 }
 
 .header_TVL, .header_APY, .header_risk, .header_age, .header_TR{
  width: 40px;
}
 
 .header_TVLHistory, .header_APYHistory, .header_type{
  width: 80px;
 }

 .bodyRow:hover {
  background-color:lightblue;
  transition: 1;
  cursor: pointer;
} 

 .bodyRow {
  transition: 0.5s background-color;
} 

 .platformCell {
  display: inline-flex;
} 

.platformLogoParent {
  width: 50px;
  padding-top: 20px;
}

.platformLogoOne  {
  position:absolute;
  z-index: 2;
}

.platformLogoTwo {
  position: relative;
  margin-left: 15px;
  z-index: 3;
}

.platformSubName {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  color: gray;
}

