.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width:90vw;
  font-size: 0.6rem;
  line-height: 1;
  font-weight: 400;
}

.header {
color: gray;
}

.platformCell {
  display: inline-flex;
} 

.header_platform {
  width: 120px;
 }
 
 .header_TVL, .header_APY, .header_risk, .header_age, .header_TR{
  width: 40px;
}
 
 .header_TVLHistory, .header_APYHistory, .header_type{
  width: 80px;

 }

.platformLogoParent {
  width:40px;
}

.platformLogoOne  {
  position:absolute;
  z-index: 2;
}

.platformLogoTwo {
  position: relative;
  margin-left: 10px;
  z-index: 3;
}

.platformSubName {
  font-size: 0.5rem;
  line-height: 1.2;
  font-weight: 400;
  color: gray;
}

